@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&display=swap');

/*font-family: 'Cinzel Decorative', cursive; */
/*font-family: 'Acme', sans-serif;*/



body {
    font-family: 'Acme', sans-serif;
    font-size: 22px;
    font-weight: 300;
    color:darkgreen;
    padding: 0;
    margin: 0;
    background-color:wheat;
    background-image: url("../images/botw_map.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

} 

#wraper {
    background-color:wheat;
}

#banner {
    width: 100%;
}

h1{
    font-size: 1.8em;
    font-family: 'Acme', sans-serif;
    color: green;
    text-align: center;
}

h2{
    margin-left: 0.5cm;
    font-size: 1.4em;
    font-family: 'Acme', sans-serif;
    text-align: left;
}

h3 {
    margin-left: 0.5cm;
    font-size: 1.2em;
    font-family: 'Acme', sans-serif;
    text-align: left;
}

h4 {
    margin-left: 0.5cm;
    font-size: 1em;
    font-family: 'Acme', sans-serif;
    text-align: left;
}

p {
    margin-left: 0.5cm;
}

header {
    position: relative;
}

header .logo img {
    height: 10%;
    width: 5%;
    position: absolute;
    top: 2%;
    right: 2%;
    box-shadow: 2px 6px 16px 10px;
    border-color: palegreen;

}

header img {
    width: 100%;
    height: 80%;

}


header nav {
    position:absolute;
    left: 30%;
    bottom: 2%;
}

header nav a {
    color: darkgreen;
    font-family: 'Acme', sans-serif;
    font-size: 1.3em;
    text-decoration: none;
    font-weight: bold;
    padding: 10px;

}

.section1 p {
   left: 2%;
   width: 100%;
}



.section2 img{
    height: 300px ;
    width: 400px;
    margin-left: 0.5cm;

}

.section2 p {
    margin-left: 450px;
    margin-top: -300px;
    margin-right: 3cm;
    font-size: 0.9em;
    text-align: justify ;
}



.grid img {
    height: 280px;
    width: 300px;
    margin: 5px;
    border-radius: 30px;

}

.grid{
    display: flex;
    margin: auto;
    padding-top:0;
    text-align: center;
    text-indent: 15%;
      
}

.grid2 img {
    height: 230px;
    width: 250px;
    margin: 5px;
    border-radius: 30px;
}

.grid2{
    display: flex;
    margin: auto;
    padding-top:0;
    text-align: center;
    text-indent: 15%;
      
}

.grid3 img {
    height: 190px;
    width: 210px;
    margin: 5px;
    border-radius: 30px;
}

.grid3{
    display: flex;
    margin: auto;
    padding-top:0;
    text-align: center;
    text-indent: 5%; 
   
}


#showhide a {
    position: absolute;
    left: 0.5cm;
    color: rgb(63, 7, 119);
    font-weight: bold;
}

#readmore {
    display: none;
    padding-top: 50px;
}

#contact{
    padding: 120px;
}

form {
    position: relative;
    left: 0.5cm;
    top: 1cm

}

#question {
    width: 15%;
    height: 50%;
}

.contact {
    padding: 20px;

}

footer{
    width: 100%;
    margin: auto;
    overflow: auto;
    background-color:wheat;
    font-family: 'Acme', sans-serif;
    
}


footer img {
    position: absolute;
    width: 100%;
    height: 300px; 
    filter: drop-shadow(16px 16px 20px wheat) invert(15%);
}


#pfooter{
    position: relative;
    padding: 80px;
    color: rgb(63, 7, 119);
    background-blend-mode: lighten;
    font-weight: bold;
    text-align: center;

}


legend {
    font-size: 25px;
    display: table; 
    min-width: 0px;
    max-width: 70%;
    position: relative;
    margin: auto;
    padding: 5px 20px;
    text-align: center;
}


fieldset {
    border: 2px solid darkgreen;
    width: 60%;
    padding-left: 5cm;
    margin-left: 5cm;

}

fieldset label {
    font-size: 18px;
}


fieldset .left{
    width: 45%;
    float: left;
}

fieldset .right{
    width: 45%;
    float: right;
    font-size: 18px;
}

fieldset .right h5 {
    font-size: 18px;
}

fieldset textarea {
    width: 88%;
    margin-top: 20px;
    height: 12cm;
    padding: 8px;
    border-radius: 10px;
   
}

fieldset input {
    border-radius: 5px;
    height: 20px;
    
}

input[type=submit], [type=reset]{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color: darkgreen;
    border-radius: 10px;
    background-color: lightgreen;
    left: 42%;
    margin-left: 0.5cm;
    border-color: darkgreen;
    
}

#star {
    color: red;
    font-size: 25px;
}

fieldset p2 {
    font-size: 13px;
    font-style: oblique;
    position: relative;
}